.App {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(47, 47, 67);
    color: white
}

.headerLogo {
    padding-right: 10px;
    transform: scale(3.7);
}

.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.footer-links{
    position: sticky;
    list-style: none;
    position: Bottom Left;
    height: "1px";
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    color: white
}